    <div class="container-fluid numsBox">
        <div class="row">
            <ul>
                <div class="col-lg-3 text-center">
                    <li class="num1">1</li>
                    <p class="numHeader"><strong>Dynamic Data Exchange</strong>
                        <p class="numText">Comprehensive reports, tables, figures, graphs.</p>


                </div>
                <div class="col-lg-3 text-center">
                    <li class="num2">2</li>
                    <p class="numHeader"><strong>Better Productivity Insights</strong>
                        <p class="numText">Learn if and how employees go about securing the bottom-line.</p>
                </div>

                <div class="col-lg-3 text-center">
                    <li class="num3">3</li>
                    <p class="numHeader"><strong>Enhanced Perfomance Metrics</strong>
                        <p class="numText">See how employees actually contribute to or reduce profit margins.</p>

                </div>
                <div class="col-lg-3 text-center">
                    <li class="num4">4</li>
                    <p class="numHeader"><strong>Find Weak links</strong>
                        <p class="numText">And spotlight the true superstars.</p>



                </div>
            </ul>
        </div>
        
        </div>