<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="profitability tracker for businesses" content="">
    <meta name="Robert Zobrist, Chris Scott, Travis Gallegos" content="">
    <link rel="stylesheet" href="../../../public/css/reset.css">
    <link rel="stylesheet" href="../../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../public/css/ionicons.min.css">
    <link rel="stylesheet" href="../../../public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <title>Profit Tracker</title>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" id="navvers">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                <img alt="Brand" src="../../../public/images/profit+.png" id="logo">
                 </a>
          </div>
          </div>
          </nav>
    


 <div class="jumbotron container-fluid splashPage">
        <header>
            
                <div class="btn btn-lg signinButton pull-right">Sign In</div>
            
                                 
        </header>
        <h1 class="mainHeadTitle text-center">Profit Tracker</h1>
        <small>We'll handle the heavy lifting, number-cunching, and data analytics on your entire sales force, helping you to 
            analyze and optimize your human capital. This way you can focus on the important stuff - growing the business!</small>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="container">
            <button class="bg-primary btn btn-lg">Get Started</button>
        </div>

    </div>
 
        <div class="container-fluid numsBox">
        <div class="row">
            <ul>
                <div class="col-lg-3 text-center">
                    <li class="num1">1</li>
                    <p class="numHeader"><strong>Dynamic Data Exchange</strong>
                        <p class="numText">Comprehensive reports, tables, figures, graphs.</p>


                </div>
                <div class="col-lg-3 text-center">
                    <li class="num2">2</li>
                    <p class="numHeader"><strong>Better Productivity Insights</strong>
                        <p class="numText">Learn if and how employees go about securing the bottom-line.</p>
                </div>

                <div class="col-lg-3 text-center">
                    <li class="num3">3</li>
                    <p class="numHeader"><strong>Enhanced Perfomance Metrics</strong>
                        <p class="numText">See how employees actually contribute to or reduce profit margins.</p>

                </div>
                <div class="col-lg-3 text-center">
                    <li class="num4">4</li>
                    <p class="numHeader"><strong>Find Weak links</strong>
                        <p class="numText">And spotlight the true superstars.</p>



                </div>
            </ul>
        </div>
        
        </div>

   
 


</body>
<!-- jQuery -->
<script src="../../../public/javascript/jquery.js "></script>
<!-- Bootstrap Core JavaScript -->
<script src="../../../public/javascript/bootstrap.min.js "></script>

</html>